body, html {
    height: 100%;
    margin: 0;
}

.col > h1 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#trials video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}

#calibration-instructions {
    position: absolute; 
    top: max(260px, 40%);
}

#webcam-calibration .card:not(.active), #thank-you .card:not(.active), #webgazer-init {
    display: none;
}

#webcam-calibration .embed-responsive {
    height: 250px;
    padding: 20px;
}

#pause.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trial-image {
    width: 100%; 
    height: 100%; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: contain;
}

.trial-video {
    width: 100%;
    height: 100%;
}

.subject-data-form, .consent-form {
    list-style-type: none;
}

#fullscreen-button {
    display: block;
    margin: 40px auto;
    cursor: pointer;
}

#exit-button {
    display: block;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index:1000;
}

#side-by-side-left,
#side-by-side-right {
    display: inline-block; 
    padding:0 5% 0 5%;
}

form .label-inline {
    font-weight: bold;
}

.asterix {
    color: red;
}

.errorlist {
    list-style-type: disc;
    margin: 0 10px 15px 10px;
    padding: 8px 35px 8px 30px;
    color: #B94A48;
    background-color: #F2DEDE;
    border: 2px solid #EED3D7;
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

