Django>=3.1,<3.2
psycopg2-binary
django-colorfield
simplejson
XlsxWriter
uwsgi
python-dateutil
Pillow
django-grappelli>=2.14.3
django-filebrowser>=3.13.2
tablib
django-tinymce
scipy
numpy
pandas
catsim>=0.17.1
numexpr>=2.8.3
tqdm>=4.64.0
requests
python-decouple
setuptools