Django>=3.1,<3.2
psycopg2-binary
django-colorfield
simplejson
XlsxWriter
uwsgi
python-dateutil
Pillow
django-grappelli>=2.14.3
django-filebrowser>=3.13.2
#git+https://github.com/herzog31/django-filebrowser.git#egg=django-filebrowser
tablib
django-tinymce
catsim==0.15.6
numexpr==2.7.3
tqdm==4.50.2
scipy
numpy
pandas
requests
python-decouple