{% extends "experiments/base.html" %} 
{% load static %}
{% block title %}Fertig{% endblock %} 

{% block content %}
<div class="container" id="thank-you">
    <div class="row">
        <div class="col text-center">
            <h1>Fertig</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card active" id="end_page_step_1">
                <div class="card-body text-center">
                    <p class="card-text">
                        Schade, dass Sie die Studie abgebrochen haben. Die Webcamaufnahme wurde beendet. Bitte schließen Sie jetzt dieses Browser-Fenster.<br /><br />
                        Wir würden gerne erfahren, warum Sie die Studie abgebrochen haben. Falls Sie uns dies mitteilen möchten, schreiben Sie bitte eine Email an XXX.
                    </p>
                    <div id="side-by-side-left"> 
                        <button type="button" class="btn btn-primary" id="approve-data-button">Approve processing and use of data</button>
                    </div>
                    <div id="side-by-side-right"> 
                        <form action="{% url 'experiments:deleteSubject' subject_id %}" method="post">
                            {% csrf_token %}        
                            <button type="submit" class="btn btn-danger" id="delete-data-button">Remove all my data</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card" id="end_page_approve">
                <div class="card-body text-center">
                    <p class="card-text">
                        Vielen Dank für Ihre Teilnahme!<br /><br />
                        Bitte schließen Sie jetzt dieses Browser-Fenster.
                    </p>
                </div>
            </div>
            <div class="card" id="end_page_disapprove">
                <div class="card-body text-center">
                    <p class="card-text">
                        Alle Ihre Daten wurden entfernt.<br /><br />
                        Bitte schließen Sie jetzt dieses Browser-Fenster.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'experiments/js/endpage.js' %}"></script>
{% endblock %}