{% extends "experiments/base.html" %} {% block title %}Einverständnis zur Studienteilnahme{% endblock %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Einverständnis zur Studienteilnahme</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    {% if error_message %}
                    <div class="alert alert-danger" role="alert">
                        {{ error_message }}
                    </div>
                    {% endif %}
                    <form action="{% url 'experiments:consentFormSubmit' experiment.id %}" method="post" novalidate>
                        {% csrf_token %}
                        <p class="card-text">
                            Bitte lesen Sie die folgenden Punkte aufmerksam durch und geben Sie an, ob Sie diesen zustimmen.<br /><br />
                            Die Teilnahme an der Studie ist nur möglich, wenn Sie mit jedem der folgenden Punkte einverstanden sind.
                        </p>
                        <p><br><span class="asterix">* Pflichtfeld</span></p>
                        {% for field in consent_form %}
                        <div class="q-item" value="{{ forloop.counter }}">
                            <div class="field-wrapper question-required">
                                {{ field.errors }}
                                <label class="label-inline">{{ field.label }}<span class="asterix"> * </span></label>
                                <div class="form-field-body">
                                    {{ field }}
                                </div>
                            </div>
                        </div><br>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Weiter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}