<div class="container" id="information">
    <div class="row">
        <div class="col text-center">
            <h1>Fehler</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body text-justify">
                    <p class="card-text">
                        Es ist ein Fehler aufgetreten. Das Experiment wurde beendet.
                    </p>
                    <div class="alert alert-danger" role="alert">
                        Error message
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>