{% extends "experiments/base.html" %} 
{% load static %}
{% block title %}Online-Studie der Kindsköpfe Göttingen{% endblock %} 

{% block content %}
<div class="container" id="information">
    <div class="row">
        <div class="col text-center">
            <h1>Online-Studie der Kindsköpfe Göttingen</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body text-justify">
                    <p class="card-text">
                        Liebe Eltern,<br /><br />

                        herzlich Willkommen zu dieser Studie der Kindsköpfe Göttingen.<br /><br />

                        Wenn Sie zusammen mit Ihrem Kind teilnehmen möchten, lesen Sie bitte die folgenden Informationen aufmerksam durch:<br />
                        - In dieser Studie untersuchen wir XXX<br />
                        - Für die Teilnahme muss Ihr Kind XXX alt sein.<br />
                        - Um diese Online-Studie auswerten zu können, benötigen wir Video-Mitschnitte. Dafür möchten wir die Webcam Ihres Computers nutzen. Für die Teilnahme müssen Sie a einem Computer oder Laptop mit Webcam sein und dazu bereit sein, diese zur Aufnahme freizugeben. Die Videos werden über eine sichere Verbindung (TLS-Verschlüsselung, 256 Bit) direkt auf die Server der Universität Göttingen übertragen, wo sie unter höchsten Sicherheitsstandards gespeichert werden.<br /> 
                        - Für die Aufnahme muss Ihr Kind auf Ihrem Schoß sitzen und die Webcam muss so ausgerichtet sein, dass Ihr Kind sichtbar ist. <br />
                        - Wir werden Ihnen vorab ein paar Fragen stellen. Sie Speicherung Ihrer persönlichen Daten erfolgt separat von den Daten und Videos der Studie.<br />
                        - Die Studie ist nur mit den Browsern Firefox und Google Chrome kompatibel. Bitte nutzen Sie einen dieser Browser. <br />
                        - Sie können die Studie jederzeit ohne Begründung abbrechen. Während der gesamten Erhebung wird rechts unten im Bild ein Feld „Abbrechen“ sichtbar sein. Klicken Sie dieses an, falls Sie die Studie vorzeitig abbrechen möchten.<br />
                        - Sie können jederzeit die Löschung Ihrer Daten veranlassen. Schreiben Sie dazu eine Email an XXX und nennen Sie den genauen Namen, den Sie ins Namensfeld eingegeben haben.<br /><br />

                        Wenn Sie einverstanden sind, klicken Sie bitte unten auf „Weiter“. Bevor es losgeht werden wir Ihnen noch einige Fragen stellen und einige technische Checks durchführen.<br /><br />

                        Wir freuen uns über Ihre Teilnahme!
                    </p>
                    <form action="{% url 'experiments:browserCheck' experiment.id %}" method="post">
                        {% csrf_token %}
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary" id="nextbutton">Weiter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}