{% extends "experiments/base.html" %} {% load static %} {% block title %}Mikrofon einrichten{% endblock %} {% block content%}
<div class="container" id="webcam-calibration" data-subject-uuid="{{ subject_data.id }}">
    <div class="row">
        <div class="col text-center">
            <h1>Mikrofon einrichten</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card active" id="webcam_step_2">
                <div class="card-body">
                    <p class="card-text">
                        Für diese Studie ist es notwendig, dass Sie Zugriff auf Mikrofon erlauben.<br /><br />
                        Ihr Browser wird Sie im nächsten Schritt um Erlaubnis bitten, Webcam und Mikrofon freizuschalten. Klicken Sie dann bitte auf "Erlauben", um mit dem Experiment fortzufahren.<br /><br />
                        Falls Ihnen die Option „immer erlauben“ angeboten wird, wählen Sie bitte diese, damit Ihr Browser die Einstellung speichert (nur für unseren Server). Sie können auch nur den Einzelfall erlauben. Dann wird Ihr Browser in den nächsten Schritten noch mehrmals um Erlaubnis zur Freischaltung von Webcam und Mikrofon bitten.
                    </p>
                    <button type="button" class="btn btn-primary" disabled>Weiter</button>
                </div>
            </div>

            <div class="card" id="webcam_step_4">
                <div class="card-body">
                    <p class="card-text">
                        Unten sehen Sie das Probevideo. Bitte spielen Sie dieses ab und beurteilen Sie, ob Ihr Kind und Sie gut sichtbar sind und ob der Ton aufgenommen wurde.<br /><br />
                        Achten dabei bitte darauf, dass der Sound auf Ihrem Computer aktiviert ist.
                    </p>
                    <p class="card-text" id="upload-progress">
                        <img src="{% static 'experiments/img/loading.gif' %}" alt="Laden" title="Loading" />
                    </p>
                    <div class="alert alert-danger" role="alert" style="display: none;">
                        Der Upload des Videos ist fehlgeschlagen.<br />
                    </div>
                    <div class="embed-responsive" style="display: none;">
                    </div>
                    <div class="alert alert-success" role="alert" style="display: none;">
                        Der Upload des Videos war erfolgreich, bitte fahren Sie fort.
                    </div>

                    <button type="button" class="btn btn-primary" disabled data-target="{% url 'experiments:experimentRun' subject_data.pk %}">Weiter (Ton haben funktioniert)</button>
                    <button type="button" class="btn btn-warning" disabled data-toggle="modal" data-target="#repeatWebcamModal">Test Wiederholen (Es gab Probleme bei der Probeaufnahme)</button>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="repeatWebcamModal" tabindex="-1" role="dialog" aria-labelledby="repeatWebcamModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="repeatWebcamModalLabel">Webcam Test Wiederholen</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Falls Sie keinen Ton hören konnten: Stellen Sie bitte in den Soundeinstellungen Ihres Computers sicher, dass Ihr  und Ihr Lautsprecher aktiviert sind und überprüfen Sie, dass Ihr Ton nicht zu leise gestellt ist.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                <button type="button" class="btn btn-primary" id="repeatRutton">Test Wiederholen</button>
            </div>
        </div>
    </div>
</div>

<button id="exit-button" type="button" class="btn btn-secondary btn-sm">Beenden</button>
<script>
    var webcam_not_found = `Leider konnte Ihre Webcam nicht gefunden werden.<br /><br />Bitte stellen Sie sicher, dass eine Webcam angeschlossen ist und klicken Sie „Prüfung wiederholen“ um zum Webcam-Test zurückzukehren.<br /><br />Sollten Sie mit der Freischaltung Ihrer Webcam nicht einverstanden sein und deshalb auf „nicht erlauben“ ausgewählt haben, schließen Sie bitte das Browser-Fenster.`;
    var include_pause_page = "{{ experiment.include_pause_page }}";
    var recording_option = "{{ experiment.recording_option }}";
</script>
<script src="{% static 'experiments/js/detectrtc.min.js' %}"></script>
<script src="{% static 'experiments/js/webcam-calibration.js' %}"></script>
{% endblock %}