{% extends "experiments/base.html" %} 
{% load static %}
{% block title %}Pause{% endblock %} 

{% block content %}
<div class="container" id="pause">
    <div class="row">
        <div class="col text-center">
            <h1>Pause</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <p>
                        Das Experiment wurde pausiert und die Aufnahme unterbrochen.<br /><br />
                        Wenn Sie die Studie abbrechen möchten, klicken Sie unten bitte auf „Experiment beenden“. <br /><br />
                        Um fortzufahren, klicken Sie bitte „Experiment fortsetzen“. Sie werden dann zu einem erneuten Webcam-Test geleitet und anschließend an die Stelle der Studie, an der Sie pausiert haben.
                    </p>
                    <div id="side-by-side-left"> 
                        <form action="{% url 'experiments:webcamTest' subject_id %}" method="post">
                            {% csrf_token %}        
                            <button type="submit" class="btn btn-primary" id="resumebutton">Experiment Fortsetzen</button>
                        </form>
                    </div>
                    <div id="side-by-side-right"> 
                        <form action="{% url 'experiments:experimentEnd' subject_id %}" method="post">
                            {% csrf_token %}        
                            <button type="submit" class="btn btn-danger" id="exitbutton">Experiment Beenden</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}