{% extends "experiments/base.html" %} {% block title %}Persönliche Angaben{% endblock %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Persönliche Angaben</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    {% if error_message %}
                    <div class="alert alert-danger" role="alert">
                        {{ error_message }}
                    </div>{% endif %}

                    <form action="{% url 'experiments:subjectFormSubmit' experiment.id %}" method="post" novalidate>
                        {% csrf_token %}
                        <p class="card-text">
                            Bitte füllen Sie die Felder unten aus. Sie müssen mindestens alle mit einem * versehenen Felder ausfüllen, um an der Studie teilnehmen zu können.
                        </p>
                        <p><br><span class="asterix">* Pflichtfeld</span></p>
                        <ul class="subject-data-form">
                            {% for field in subject_data_form %}
                            {% if field.name == 'resolution_w' or field.name == 'resolution_h' %}
                                {{ field }}
                            {% else %}
                            <li class="q-item" value="{{ forloop.counter }}">
                                {% if field.field.required %}
                                <div class="field-wrapper question-required">
                                    {{ field.errors }}
                                    <label class="label-inline">{{ field.label }} <span class="asterix">*</span></label>
                                {% else %}
                                <div class="field-wrapper">
                                    {{ field.errors }}
                                    <label class="label-inline">{{ field.label }}</label>
                                {% endif %}
                                    <div class="form-field-body">
                                        {{ field }}
                                    </div>
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                </div>
                            </li>
                            <br>
                            {% endif %}
                            {% endfor %}
                        </ul>
                        <button type="submit" class="btn btn-primary">Weiter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}